@model IEnumerable<WebApplication1.Models.UserViewModel>

@{
    ViewBag.Title = "GetParticipateUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetParticipateUsers</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
       
    </tr>
}

</table>
